




# BlueJ files
# Compiled class file
# Log file
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
/.tomcat
/bin/cf-logs*
/deploy
/logs
/src/main/java/ns/mbt/tutorial/base
/src/main/java/ns/mbt/tutorial/proxy
/target
/vocabularies
hs_err_pid*
replay_pid*
.vscode/settings.json
.vscode/spellright.dict
